/*Fuentes*/

@font-face {
    font-family: "TrebuchetMS";
    src: url("fonts/TrebuchetMS.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue";
    src: url("fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WebSymbolsRegular";
    src: url("../css/fonts/websymbols-regular-webfont.eot");
    src: url("../css/fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("../css/fonts/websymbols-regular-webfont.woff") format("woff"),
        url("../css/fonts/websymbols-regular-webfont.ttf") format("truetype"),
        url("../css/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}


/*ESTILOS GENERALES*/

* {
    margin: 0px;
    padding: 0px;
    font-family: "BebasNeue";
}


body {
    background: url("../css/img/pattern.png");
}


.wrap {
    width: 1250px;
    margin: 0px auto;
}


.gear,
.icon {
    font-family: "WebSymbolsRegular";
}


.clearfix {
    float: none;
    clear: both;
}

/*CABECERA*/

.header {
    width: 100%;
    height: 90px;
    background-color: black;
    font-family: "BebasNeue";
    color: white;
}


.logo {
    float: left;
    width: 330px;
    background-color: slateblue;
    text-align: center;
    margin-top: 17px;
    margin-left: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: 300ms;
}

.logo:hover {
    border-radius: 2px;
    color: black;
    background-color: #ccc;
}

.logo .gear {
    display: block;
    float: left;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 25px;
    animation-name: rotate-gear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate-gear {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.logo:hover .gear {
    animation: fromBelow 500ms linear;
}

@keyframes fromBelow {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
    }
}

.logo h3 {
    display: block;
    float: right;
    font-size: 40px;
    margin-top: 5px;
    margin-right: 30px;
    transition: all 300ms;
}

.logo:hover h3 {
    animation: FromRight 300ms linear;
}

@keyframes FromRight {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0%);
    }
}

.menu {
    float: right;
    height: 70px;
    background: transparent;
}

.menu ul li {
    font-size: 24px;
    display: inline-block;
    margin: 0px 20px 10px 20px;
    letter-spacing: 1px;
    line-height: 90px;
}

.menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    transition: all 200ms;
}

.menu ul li a:hover {
    color: #6A5ACD;
    transform: scale(1.2, 1.2);
}


.container {
    min-height: 936px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form {
    width: 790px;
    height: 600px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    background-color: #6A5ACD;
    backdrop-filter: blur(20px);
    flex-wrap: wrap;
}

.container form h1 {
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.container form input {
    width: 290px;
    height: 46px;
    padding-left: 10px;
    letter-spacing: 2px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
    color: white;
}


.container form input::placeholder {
    color: #ddd;
}

.container form #correo,
.container form #direccion {
    margin-left: 20px;
}

.container form #correo {
    margin-left: 16px;
}

.container form h4 {
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 597px;
    max-width: 597px;
    min-height: 20px;
    max-height: 20px;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(194, 194, 194, 0.713);
}

.container form #button {
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 130px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.5s;
}

.container form #button:hover {
    opacity: 0.7;
}


/*FOOTER*/

#footer {
    width: 100%;
    height: 470px;
    background-color: black;
    color: white;
    overflow: hidden;
}

#footer .wrap>div {
    float: left;
    width: 320px;
    height: 370px;
    margin: 40px;
    text-align: center;
    color: white;
    font-family: "TrebuchetMS";
}

#footer a {
    text-decoration: none;
    color: #806ef5;
    transition: all 300ms;
}

#footer h5 {
    display: block;
    background: url(../css/img/pxgray.png), white;
    height: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-family: "BebasNeue";
    font-size: 40px;
    line-height: 55px;
    color: black;
    border-radius: 5px;
    margin-bottom: 15px;
}

#footer ul {
    text-align: left;
    margin: 20px;
    font-size: 25px;
}

#footer ul li {
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#footer ul li a {
    display: block;
    height: 40px;
    transition: all 300ms;
}

#footer ul li:hover a {
    padding-left: 40px;
    color: white;
    width: 100%;
}

#footer iframe {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    border: 5px solid white;
    box-shadow: 0px 0px 5px gray;
}

#footer img {
    margin-bottom: 15px;
    max-width: 100%;

}

#footer #browsers img {
    width: 45px;
}